
#fomenu {
    float: right;
    width: 100%;
    padding: 0;
    margin: 0 0 1em 0;
    list-style-type: none;
    background-color: white;
   
}
#fomenu li { display:inline }
#fomenu a {
  float:right;
  padding: 0.25em 1em;
  margin: 0.25em 0 0.25em 1em;
  color: #2ea3f2;
  text-decoration: none;
}
#fomenu a:hover { background-color:#333}


header {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

header img {
    height: 40%;
    width: auto;
    float: inline;
    margin: 20px 10px 0px 10px;
}

div#wrapper {
    margin: 10px;
}

aside {
    display: table-cell;
    vertical-align: left;
}

nav {
    margin: 0px 10px 0px 0px;
    top: 0px;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px;
}

nav ul a {
    text-decoration: none;
    color: white;
}
.cim{
    text-align: center;
    color: orange;

 
}
 /*eredeti*/
.flex-container {
    
    
    display: flex;
    justify-content: center ;
    background-color: brown;
    align-items: stretch;
    border-width:  10px;
    border-color: aqua;
    
}

.kep_flex1{
    
    margin: 5px;
    padding: 10px;
    border-color: royalblue;
    border:5px;
    background-color: white;
    
}
.szoveg_flex1{
    width:350px ;
    height: auto;
    /*width: 300px;
    height: 350px;*/
    padding: 10px;
    border: #2ea3f2;
    border:10px;
    background-color: beige;
    text-align: justify  ;
   
}
.last_box{
    padding: 10px 100px 10px 100px;
    text-align: justify;
}
div#img2{
        clear: middle;
        width: 20em;
        height: auto;
        margin: 0 0 15px 15px;
        padding: 3px;
}
footer{
    background-color: #202020;
    color : white;
    position:static ;
    bottom: 0px;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    
}
.main_footer {


text-align: justify;
padding: 10px 20px; 

}
.cim1
{
    padding:5px;
    background-color: blue;

    
}
.leftbox {
    width: 300px;
    display: inline-block;
    margin: 10px 5px;
    background-color: rgb(127, 255, 127);
    text-align: center;
    vertical-align: top;
}
.cim2
{
    padding:5px;
    background-color: blue;

    
}
.centerbox .lista{
    list-style-type: none;
}
.centerbox {
    display: inline-block;
    margin: 10px 5px;
    background-color: rgb(255, 127, 238);
    width: 300px;
    text-align: center;
    vertical-align: top;
    list-style: none;
    
}
.cim3
{
    vertical-align: top ;
    padding:5px;
    text-align:top;
    background-color: blue;

}
.rightbox {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    margin: 10px 5px;
    background-color: aquamarine;
    text-align: center;
}
.bottombox {
    display: grid;   
    width: 100%;
    align-self: end;
    justify-self: end;
    background-color: rgb(255, 127, 180);
    text-align: center;
    
}